@font-face {
  font-family: "barakuda";
  src: url(./font/Barracuda\ Bold\ Regular.ttf) format(truetype);
  font-family: "satoshi";
  src: url(./font/Satoshi-Regular.ttf) format(truetype);
}

.contentnav {
  padding: 20px 30px 20px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.contentnav a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-family: "barakuda";
  font-size: 15px;
  margin: 0px 20px;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.logo {
  width: 60px;
}

.namejob {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  font-family: "barakuda";
  padding: 200px 50px 70px 50px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  font-family: "barakuda";
}
h3 {
  font-size: 30px;
  font-family: "barakuda";
}
main {
  padding: 40px;
}

.aboutcontenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutcontenu img {
  width: 80%;
}
.textabout {
  font-family: "satoshi";
  font-size: 30px;
  width: 50%;
  margin-top: 50px;
}
.imagecontenu img {
  width: 80%;
  object-fit: cover;
}
.projectcontent {
  display: grid;
  grid-template-columns: auto auto auto;

  justify-content: space-between;
}

.projet {
  display: flex;
  flex-direction: column;
}
.projet img,
.article img {
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 3px;
}
.projet img:hover {
  opacity: 0.5;
}

.button1 {
  width: 30%;
}
.skillscontenu,
.articlescontenu {
  display: grid;
  grid-template-columns: auto auto;
}
.skillsdev,
.article {
  display: flex;
  flex-direction: column;
}

.skillsdev img {
  width: 200px;

  opacity: 1;
  border-radius: 3px;
}

.button2 {
  width: 70px;
}

.button3 {
  width: 20%;
}
main button {
  display: flex;
  background-color: gray;
  border-radius: 60px;
  font-family: "barakuda";
  font-size: 18px;
  color: white;
  box-shadow: 10px 10px 20px rgb(55, 50, 50);
}

.logocontact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0px 200px;
}
.logocontact li {
  list-style-type: none;
}

.logocontact img {
  width: 25%;
}
form {
  display: flex;

  flex-direction: column;
  margin-top: 70px;
  font-size: 30px;
  font-family: "barakuda";

}

.name , .mail {
 
  width: 30%;
}
  .message {
    height: 100px;
width: 70%;
  }



.navtexte {
  
    padding: 20px 30px 20px 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
  }


  footer a {
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-family: "barakuda";
    font-size: 15px;
    margin: 0px 20px;
    font-size: 30px;
  } 
footer p {

  text-align: center;
}