@media (prefere-color-scheme: dark) {
  :root {
    --body-background-color: #222;
    --body-text-color: #fff;
  }
}

@font-face {
  font-family: "barakuda";
  src: url(./font/Barracuda\ Bold\ Regular.ttf) format(truetype);
  font-family: "satoshi";
  src: url(./font/Satoshi-Regular.ttf) format(truetype);
}

body {
  margin: 0;
  padding: 0;
}
body img {
  border-radius: 3px;
  opacity: 1;
}
.body img:hover {
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

.contentnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.contentnav a {
  text-decoration: none;
  margin: 0px 20px;
  color: black;
  font-family: "barakuda";
  font-size: 15px;
}
nav {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.logo {
  width: 60px;
}

main {
  padding: 20px;
}
.namejob {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  font-family: "barakuda";
  padding: 20px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  font-family: "barakuda";
}
h3 {
  font-size: 30px;
  font-family: "barakuda";
}

.aboutcontenu {
  margin-top: 50px;
}
.aboutcontenu img {
  filter: grayscale(60%);
  width: 100%;
}
.textabout {
  font-family: "satoshi";
  font-size: 20px;
}
.imagecontenu img {
  max-width: 100%;
  object-fit: cover;
}
.projectcontent {
}

.projet,
.article {
  margin-top: 50px;
}

.projet img,
.article img {
  border-radius: 3px;
  width: 100%;
}

.button1 {
  width: 30%;
}

.skills img {
  width: 100%;

  opacity: 1;
  border-radius: 3px;
}

.button2 {
  width: 20%;
}

.button3 {
  width: 30%;
}
main button {
  background-color: gray;
  border-radius: 60px;
  font-family: "barakuda";
  font-size: 18px;
  color: white;
  box-shadow: 10px 10px 20px rgb(55, 50, 50);
}

.logocontact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logocontact li {
  list-style-type: none;
}

.logocontact img {
  width: 25%;
}
form {
  font-size: 30px;
  font-family: "barakuda";
  display: flex;

  flex-direction: column;
  margin-top: 70px;
  font-size: 30px;
  font-family: "barakuda";
}

.name,
.mail {
  width: 30%;
}
.message { 
  height: 100px;
  width: 70%;
}


.navtexte {
}

footer a {
  text-decoration: none;
  font-weight: 400;
  color: black;
  font-family: "barakuda";
  font-size: 15px;
  margin: 0px 20px;
  font-size: 30px;
}
footer p {
  text-align: center;
}
